.row
  .col-xs-12
    .input-group
      span.input-group-addon
        .glyphicon.glyphicon.glyphicon-user
      input.form-control#projectname(
        type='text'
        name='projectname'
        placeholder='Project Name'
      )

.row
  .col-xs-12
    .input-group
      span.input-group-addon
        .glyphicon.glyphicon.glyphicon-heart
      input.form-control#projescription(
        type='text'
        name='projescription'
        placeholder='Project Description'
      )

